<title>HowRU - Chat List</title>
<%- include('../partials/navbar.ejs') %>
<main>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <h1 class="text-center">Chatlist</h1>
        <% if(typeof rooms != 'undefined') { %>
        <ul class="list-group">
            <% rooms.forEach(room => { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= room.name %>
                <form id="join<%= room.name %>" action="/chat/<%= room.name %>" method="GET">
                    <a href="javascript:;" onclick="document.getElementById('join<%= room.name %>').submit();">
                        <span class="badge bg-success rounded-pill">
                            Beitreten
                        </span>
                    </a>
                </form>
            </li>
            <% }); %>
        </ul>
        <% } %>
        <form action="/chat" autocomplete="on" method="POST">
            <div class="form-control">
                <%- include('../partials/messages.ejs') %>
                <label for="email">Raumname</label>
                <input type="text" name="roomName" id="roomName" placeholder="Raumname..." required />
                <button type="submit" class="loginButton">Raum erstellen</button>
            </div>
        </form>
    </div>
</main>