<title>HowRU - <%= room %></title>
<%- include('../partials/navbar.ejs') %>
<main>
  <%- include('../partials/header.ejs') %>
  <div class="container-fluid" id="message-container">
    <ul id="message-box"></ul>
  </div>
  <div class="container-fluid" id="input-container">
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</main>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/js/chat.js" defer></script>
<script>
  const username = '<%= user.username %>';
  const email = '<%= user.email %>';
  const room = '<%= room %>';
</script>